body { 
background:linear-gradient(hsl(270, 65%, 62%), #ff85de);
background-repeat: no-repeat;
background-attachment: fixed;
margin-left: 15%;
margin-right: 15%;
}

h1{
    font-style: oblique;
    font-family:"baskervville SC";
}

p{
    text-align: justify;
    font-size: larger;
    font-style: normal;
    font-family:"baskervville SC";
    font-weight: bold;
    
}
.text{

   
    font-style: normal;
    font-family:"baskervville SC";
    font-weight: bold;
}

mark{
    
    background-color: #ff85de;
    color:black;
}
h2{
    text-align: center;
    margin:150px;
    font-style: oblique;
    font-family:"baskervville SC";
}

.button1{
       background-color: purple;
       padding: 10px 30px;
       border:none;
       color:#ff85de;
       font-family: "baskervville SC";
       font-size:large;
       cursor: pointer;
       border-radius: 10px;    
}
.button1:hover{
    color: blueviolet;
    background-color: #ff85de;
    transition:0.2s;
}
.button1:active{
    background-color:blueviolet;
    color:palevioletred;
}
.div1{
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.div2{
    position: absolute
    
}
.div3{
    position: absolute ;
    margin-left: 15%;
    
}
.div4{
    margin-left: 42%;
}
.div5{
    position:absolute
}
.div6{
    margin-left: 23%
}

.button2{
    background-color: purple;
    padding: 10px 30px;
    border:none;
    color:#ff85de;
    font-family: "baskervville SC";
    font-size:large;
    cursor: pointer;
    border-radius: 10px;  }

.button2{
    background-color: purple;
    padding: 10px 30px;
    border:none;
    color:#ff85de;
    font-family: "baskervville SC";
    font-size:large;
    cursor: pointer;
    border-radius: 10px;    
}
.button2:hover{
 color: blueviolet;
 background-color: #ff85de;
 transition:0.2s;
}
.button2:active{
 background-color:blueviolet;
 color:palevioletred;
}